<div class="container content-subnav">
    <div class="my-3 p-3 bg-light rounded shadow-sm">
        <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray">
            <h4 class="pb-2 mb-0">Swagger APIs</h4>
            <div>
                {{#if nameFilter}}
                <span class="badge badge-dark m-1">Name: &quot;{{nameFilter}}&quot;</span>
                {{/if}}
                {{#if categoryFilter}}
                <span class="badge badge-dark m-1">Category: &quot;{{categoryFilter}}&quot;</span>
                {{/if}}
                {{#if reset}}
                <a href="/apis" class="badge badge-secondary">X</a>
                {{/if}}
            </div>
        </div>
        {{#each servicesDocumentation}}
        <div class="media text-muted pt-3">
            {{#if @last}}
            <div class="media-body pb-3 mb-0 med lh-125">
            {{else}}
            <div class="media-body pb-3 mb-0 med lh-125 border-bottom border-gray">
            {{/if}}
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div>
                        <h5><a class='text-dark' href="/apis/{{id}}">{{serviceName}}</a></h5>
                        <strong class="text-gray-dark">Category: </strong><a href="/apis?category={{category}}">{{category}}</a>
                    </div>
                    <div>
                        <table>
                            <th class="text-right">Environments</th>
                            <tr>
                                <td>
                                    {{#each this.environments}}
                                    <a href="/apis/{{../id}}/{{environment}}">{{environment}}</a> {{#if @last}} {{else}} | {{/if}}
                                    {{/each}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <span class="d-block">{{serviceDescription}}</span>
            </div>
        </div>
        {{else}}
        <div class="media text-muted pt-3">
            <span>No Swagger APIs found</span>
        </div>
        {{/each}}
    </div>
</div>